cluster-create-bo.cluster-create-box {
    background: #1e1e1e;
    color: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(255, 44, 44, 0.3);
    max-width: 800px;
    margin: auto;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .form-title {
    font-size: 22px;
    margin-bottom: 20px;
    color: #ff2c2c;
  }
  
  .form-row {
    margin-bottom: 16px;
  }
  
  .cluster-create-box label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    color: #ccc;
  }
  
  .cluster-create-box input,
  .cluster-create-box textarea,
  .cluster-create-box select {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 12px;
    background: #2a2a2a;
    border: 1px solid #444;
    color: #fff;
    border-radius: 6px;
    font-size: 15px;
  }

  .cluster-create-box textarea
  {
    height:250px;
  }
  
  .datepicker {
    background: #2a2a2a !important;
    color: white !important;
    border-radius: 6px;
    border: 1px solid #444 !important;
    padding: 10px;
  }
  
  .workout-block {
    background: #292929;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #444;
    position: relative;
  }
  
  .icon-selector {
    margin-bottom: 12px;
  }
  
  .icon-options {
    display: flex;
    flex-wrap: wrap;
    gap: 12px; /* spacing between icons */
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
  }
  
  .icon-options label {
    padding: 4px 7px;
    border-radius: 8px;
    background-color: #1a1a1a;
    color: white;
    font-size: 16px;
    /* white-space: nowrap; */
    cursor: pointer;
    transition: 0.2s;
    width:30%;
    text-align: center;
  }
  
  .icon-options input {
    margin-right: 6px;
  }
  
  .icon-img {
    width: 24px;
    height: 24px;
  }
  
  .remove-btn {
    background: transparent;
    border: none;
    color: #ff4d4d;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  button {
    padding: 10px 20px;
    background: #ff2c2c;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background: #e02121;
  }
  