/* Prevent white space when no comments exist */
.comment-zone-wrapper .ui.comments {
    padding: 0 !important;
    margin: 0 !important;
    border: none;
    box-shadow: none;
  }
  
  .comment-zone-wrapper .ui.comments:empty {
    display: none !important;
  }
  
  .comment-zone-wrapper .ui.comments:not(:has(.comment)) {
    padding: 0 !important;
    margin: 0 !important;
    min-height: 0 !important;
    display: none !important;
  }
  
  .comment-zone + .ui.comments:empty {
    margin: 0 !important;
    padding: 0 !important;
    min-height: 0 !important;
    height: auto !important;
    display: none !important;
  }